/* Mobile version */
.info-panel{
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.7);
  margin-top: -50px;
    border-radius: 12px;
    background-color: #fff;
    padding: 20px;
  }
  .banner-img {
    width: 100%;
  }
  .banner-img img{
    width: 100%;
  }
  /* .navbar-brand {
    display: ;
  } */
 @media (max-width:330px){
   /* .navbar-brand {
     display:  ;
   } */
 }  

  @media (max-width:511px){
 .banner-img {
    width: 100%;
    height: 234px;
    overflow: hidden;
 }
.banner-img img {
  width: 800px;
}

  h3 {
    font-size: 18px;
  }
  h4{
    font-size: 16px;
  }
  h5{
    font-size: 12px;
  }
  p{
    font-size: 14px;
  }
}

/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* DESKTOP VERSION */
@media (min-width:992px){
  .nav-link {
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-weight: 750;
    color: #fff !important;
  }
  /* .nav-link:hover{
    text-shadow: 2px 5px 5px  red !important ;
    
  } */
   .nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 2px solid yellow;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }
  .navbar-brand {
    display: none !important;
  }
  header nav {
  position: absolute !important;
  width: 100%;
  /* z-index: 10000;  */
}
/* .banner-img {
  margin-top: -56px;  */
  /* width: 100%; */
  /* background-image: url('../img/smkpasja-1.JPG'); */
  /* background-image: url('../img/smkpasja-1.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 361px;
  */
/* } */
/*
.banner {
  position: relative;
  width: 100%;
}
.banner-text {
  position: absolute;
  width: 80%;
  background-color: #fff;
  top:90%;
  left:50%;
  transform: translate(-50%);
}

.banner-logo {
  position: absolute;
  display: block;
  top: 15.7%;
  right: 2.25%;
}
.banner-img {
  border: 1px solid green;
  width: 100%;
  height: 100%;
}
.banner-img img {
  width: 100%;
  height: 100%;
} */
/* .tes::after{
  content: '';
  display: block;
  width: 500px;
  height: 100%; */
  /* top: 0; */
  /* background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.1)); */
  /* position: absolute;
  bottom: 0;
  background-color: black; 
}*/




}

/* Callout box - fixed position at the bottom of the page */
.callout {
  position: fixed;
  top: 108px;
  right: 100px;
  margin-left: 20px;
  max-width: 300px;
  border: 2px dashed brown;
  border-radius: 12px;
}

/* Callout header */
.callout-header {
  padding: 25px 15px;
  background: #555;
  font-size: 30px;
  color: white;
  text-align: center;
  border-top-left-radius:  12px;
  border-top-right-radius:  12px;

}

/* Callout container/body */
.callout-container {
  padding: 15px;
  background-color: #ccc;
  color: black
}

/* Close button */
.closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

/* Change color on mouse-over */
.closebtn:hover {
  color: lightgrey;
}





/*------------------------------------------------------------------
    BUTTONS
-------------------------------------------------------------------*/

/* .navbar-default .btn-light {
    padding: 0 20px;
    margin-left: 15px;
} */

.btn {
    border: 0 !important;
}

.btn-light {
    padding: 10px 40px;
    font-size: 18px;
    border: 2px solid #ffffff !important;
    color: #ffffff;
    background-color: transparent;
}

.btn-dark {
    padding: 13px 40px;
    font-size: 18px;
    border: 1px solid #ececec !important;
    color: #1f1f1f;
    background-color: transparent;
}

.btn-light:hover,
.btn-light:focus {
    border-color: rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.6);
}


.shadow-drop-2-center:hover {
  
	-webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-2-2 17:47:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-drop-2-center
 * ----------------------------------------
 */
@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

.card img {
  height: 100%;
}